.crop-preview-wrapper__preview-image {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

.image-widget-data__crop-wrapper .crop-preview-wrapper__crop-reset {
  margin-top: 1em;
}
